
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="container">
        <form class="form-group" method="post">
            <div>
                <label>Müşteri Adı</label>
                <input type="text" class="form-control" name="MUSTERIAD" />
            </div>
            <div>
                <label>Müşteri Soydı</label>
                <input type="text" class="form-control" name="MUSTERISOYAD" />
            </div>
            <div>
                <label>Müşteri Tel.</label>
                <input type="text" class="form-control" name="MUSTERITELNO" />
            </div>
            <div style="margin-top:15px">
                <button class="success btn">MÜŞTERİ EKLE</button>
            </div>

        </form>
    </div>