@model MvcOtomasyon.Models.Entity.URUNLER
@using System.Linq
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <form class="form-group" method="post">
        <div>
            <label>Ürün Kategori Seçiniz</label>
            @Html.DropDownListFor(m => m.KATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        </div>
        <div>
            <label>Ürün Marka</label>
            <input type="text" class="form-control" name="URUNMARKA"  required="" maxlength="30" placeholder="Ürün Markası"/>
        </div>
        <div>
            <label>Ürün Model</label>
            <input type="text" class="form-control" name="URUNMODEL" required="" placeholder="Ürün Modeli" />
        </div>
        <div>
            <label>Ürün Fiyat</label>
            <input type="text" class="form-control" name="FIYAT"  placeholder="Ürün Fiyatı"/>
        </div>
        <div>
            <label>Ürün Stok Adet</label>
            <input type="text" class="form-control" name="STOK" placeholder=" Ürün Stok Adedi" />
        </div>
        <div>
            <label>Ürün Açıklama</label>
            <input type="text" class="form-control" name="URUNAD" required="" placeholder="Ürün Detayları" />
        </div>
        <div style="margin-top:15px">
            <button class="success btn">ÜRÜN EKLE</button>
        </div>

    </form>
</div>

