@using MvcOtomasyon.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<KATEGORILER>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="container">
        @using (Html.BeginForm("Index", "Kategori", FormMethod.Get))
        {
            <p>
                Aranacak Kategori: @Html.TextBox("ara")
                <input type="submit" value="Ara" />
            </p>
        }
        <table>
            <thead>
                <tr>
                    <th>Kategori ID</th>
                    <th>Kategori Adı</th>
                    <th>SİL</th>
                    <th>GÜNCELLE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ktgr in Model.ToList())
                {
                    <tr>
                        <td>@ktgr.KATEGORIID</td>
                        <td>@ktgr.KATEGORIAD</td>
                        <td><a class="danger btn" href="/KATEGORI/SIL/@ktgr.KATEGORIID">SİL</a></td>
                        <td><a class="success btn " href="/KATEGORI/KategoriGetir/@ktgr.KATEGORIID">GÜNCELLE</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <div class="pagination">
                @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
            </div>
            <a href="/KATEGORI/YeniKategori/" class="success btn add-new">YENİ KATEGORİ EKLE</a>
        </div>
    </div>