@model MvcOtomasyon.Models.Entity.KATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="container">
        <form class="form-group" method="post">
            @*<div>
            <label>Kategori Adı</label>
            <input type="text" class="form-control" name="KATEGORIAD" />
        </div>*@
            <div>
                <label>Kategori Adi</label>
                @Html.TextBoxFor(m=>m.KATEGORIAD)
                @Html.ValidationMessageFor(m=>m.KATEGORIAD, "", new { @style = "color:red" } )
            </div>
            <div style="margin-top:15px">
                <button class="success btn">KATEGORİ EKLE</button>
            </div>

        </form>
        </div>

