@model MvcOtomasyon.Models.Entity.KAMPANYALAR
@{
    ViewBag.Title = "YeniKampanya";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="container">
        <form class="form-group" method="post">
            <div>
                <label>Kampanya Adı</label>
                @Html.TextBoxFor(m => m.KAMPANYAADI, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.KAMPANYAADI, "", new { @style = "color:red" })
            </div>
            <div>
                <label>indirim Oranı</label>
                @Html.TextBoxFor(m => m.INDIRIMORANI, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.INDIRIMORANI, "", new { @style = "color:red" })
            </div>
            <div>
                <label>Kampanya Açıklaması</label>
                <input type="text" class="form-control" name="KAMPANYAACIKLAMA" />
            </div>
            <div style="margin-top:15px">
                <button class="success btn">KAMPANYA EKLE</button>
            </div>

        </form>
    </div>

